.dropdown{
  position: relative;
  
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    background: white;
    border: 1px solid #000000;
    padding: 0.5rem 0.75rem;

    .caret{
      transition: all 0.2s;
    }
  }
  
  .dropdown-menu{
    display: none;
    position: absolute;
    top: 3rem;
    padding: 0.5rem;
    background: white;
    border: 1px solid #000000;
    white-space: nowrap;

    &.active{
      display: block;
    }

    ul{

      li{
        cursor: pointer;
        padding: 0.15rem 0.3rem;
        transition: all 0.1s;

        &:hover{
          background: #e3e3e3;
        }
      }
    }
  }
}