:root{
  --backgroundColor: #f5f5f5;
  --color: #000000;
}

.dark-mode{
  --backgroundColor: #141414;
  --color: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  list-style: none;
  text-decoration: none;
  color: var(--color);
}

body{
  height: 100vh;
  width: 100%;
  background: var(--backgroundColor);
  transition: all 0.3s;
}

button{
  cursor: pointer;
  outline: none;
  background: none;
  border: 1px solid var(--color);
}

section{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}