.accordion-container{
  max-width: 600px;
  width: 100%;
  border-left: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
  border-top: 1px solid #c7c7c7;
}

.accordion-item{
  width: 100%;
}

.accordion-button{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid #c7c7c7;
}

.accordion-content{
  border-bottom: 1px solid #c7c7c7;
  padding-block: 1rem;
  padding-inline: 0.5rem;
}